* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  display: flex;
  background: url(./imege/marvel.jpg);
  background-size: contain;
}

.main_Frame {
  margin: auto;
  width: 950px;
  height: 450px;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
}
