*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.work_Frame {
  width: 1200px;
  height: 500px;
  border: 10px solid #ffffff80;
  border-radius: 15px;
  background-color: rgba(191,155,255, 0.7);
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-content: space-between;
  backdrop-filter: blur(3px);
}

.sideBarGroup {
  display: flex;
  width: 200px;
  height: 88%;
}

.sideBarBox {
  display: flex;
  text-align:center;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: 420px;
}

.addButtonBox {
  width: 187px;
  height: 53px;
}
